<div id="login" slide-from-right center-justified layout horizontal>
	<%= form_tag(login_path, remote: true) do %>
		<%= text_field_tag :username, params[:username], placeholder: "Username", id: "username" %><br />
		<%= password_field_tag :password, params[:password], placeholder: "Password", id: "password" %><br />
		<div center-justified layout horizontal style="margin-top: 14px;">
		<%= submit_tag "LOGON", id: "submit_logon" %>
	    </div>
	<% end %>
</div>