$('#whose_logged_in').html("<paper-toast id=\"toast1\" class=\"capsule\" text=\"You have been logged out.\" style=\"padding-right: 60px;\" duration=\"10000\" opened responsiveWidth=\"300px\" style=\"color: #eeff41;\"></paper-toast>");
$('#whose_logged_in').append("<paper-button id=\"login_button\">Login</paper-button><span layout vertical center-justified>/</span><paper-button id=\"signup_button\">signup</paper-button>");
$('#new_post_button_container').html(" ");

$('#login_button').on('click', function() {
	document.getElementById("overlay").toggle();
	document.getElementById("baluga").selected = 0;
	document.getElementById("paper_tabs").selected =0;
});
$("#signup_button").on('click', function() {
	document.getElementById("overlay").toggle();
	document.getElementById("baluga").selected = 1;
	document.getElementById("paper_tabs").selected =1;
});