 cross-origin="anonymous"<dom-module id="show-post">
	<link rel="stylesheet" href="show-post.css" />
	<template>

	<iron-media-query query="(max-width: 900px)" query-matches="{{queryMatches}}"></iron-media-query>

	<paper-header-panel mode="cover" class="fit" style="height:100vh;position:fixed;z-index:10;">
		<div class="paper-header" style="height:100vh;z-index:-1;">
			<div class="layout vertical center-justified" style="height:100vh;" id="largecontainer">

				<div style="height: 95vh;width: 95vw;position:relative;margin:auto;" class="layout vertical center-justified" id="imgcontainer">
					<img src="{{ image }}" style="max-width: 100%;max-height: 100%;margin:auto;" id="hero" cross-origin="anonymous" />
				</div>
			</div>
			<div class="paper-header2 fit" style="z-index:-1;" id="rippler"></div>
		</div>
		<div id="maincontent">
			<content></content>
		</div>
	</paper-header-panel>

	</template>

	<script src="show-post.js"></script>
</dom-module>
