<div id="footer_container">
	<div id="about_container">
		<h1 id="about_title">About While True</h1>
		<p id="about_text">While True is a technology news site that covers the latest in technology trends to keep you informed in this connected world.</p>
		<p id="people">Founder and Editor-in-Chief - Nick Pezza</p>
	</div>
	<div id="follow_block">
		<h1 id="follow_title">Follow Us</h1>
	    <paper-button raisedButton iconSrc="<%= image_url 'facebook2.png' %>" id="about_facebook"></paper-button>
	    <paper-button raisedButton iconSrc="<%= image_url 'twitter-icon.svg' %>" id="about_twitter"></paper-button>
	    <paper-button raisedButton iconSrc="<%= image_url 'gp.png' %>" id="about_gp"></paper-button>
	</div>
	<%= image_tag "penrose_icon.png", id: "footer_icon" %>
</div>

<script>
$("#about_twitter").click(function() {
	document.location='https://twitter.com/while_true0'
	return false;
});
$("#about_gp").click(function() {
	document.location='https://plus.google.com/107587555244815719248'
	return false;
});

</script>