<% content_for :head do %>
  <script src="../../bower_components/platform/platform.js"></script>
	<link rel="import" href="../../bower_components/core-elements/core-elements.html">
	<link rel="import" href="../../bower_components/paper-button/paper-button.html">
  	<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<% end %>

<h1 id="new_edit_post_title">Edit post</h1>

<%= render 'form' %>

<script>
document.getElementById('post_title_input').setAttribute("value",document.getElementById('post_title_input_invis').value);
</script>