<!-- <core-toolbar><div class="middle indent">Header</div></core-toolbar>
 -->
<div class="main-container" style="overflow-x:hidden;">
      <%= render @posts %>
     
</div>
 <paper-fab icon="add" onclick="document.location='<%= new_post_path %>'" style="color:#eeff41; fill:#757575;"></paper-fab>
<!-- <p><%= @page_number %></p> -->

<div id="infinite-scrolling">
  <%= will_paginate @posts, page_links: false  %>
</div>
<!-- <br>
<hr class="show_hr">  -->