<h1 id="new_edit_post_title">New Article</h1>

<div layout horizontal flex center-justified>
	<ul>
		<li>Be sure to delete the p tag that surrounds an uploaded image</li>
		<li>To caption a picture: add class="caption" and put the caption in an alt tag</li>
	</ul>
</div>
<%= render 'form' %>