<% content_for :title, "New Post" %>
<% Post.all.each do |post| %>
	<%= link_to post.title, post  %>
<% end %>

<paper-material id="new-post-container">
	<h1 class="layout horizontal center-center">New Article</h1>

	<%= render 'form' %>
</paper-material>

