#number_of_comments {
	margin-left:10px;
}
#comments {
	margin: auto;
}
#new_comment_label {
	font-size: 22px;
	padding: 14px;
}
.show_hr {
	border: 0;
	height: 1px;
	background: #B9B9B9;
}
#comment_author_avatar {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	margin-right: 10px;
}
#comment_author {
	font-size: 20px;
	padding-top:6px;
	padding-left: 8px;
}
#comment_body {
	margin: 8px;
	margin-top: 12px;
	margin-bottom: 12px;
}
#comment_posted_at {
	font-size: 13px;
	color: #757575;
	margin:8px;
}
#new-comment {
	width: 80%;
}
#comment_form_container {
	background-color: #bdbdbd;
	margin:auto;
	margin-top: 40px;
}
#froala-comment-container {
	width: 90%;
	margin: auto;
	margin-top:8px;
	margin-bottom: 8px;
}
#new_comment {
	padding-top: 12px;
	padding-bottom: 8px;
	margin-bottom: 12px;
}
#submit_comment {
	background: #ffffff;
}