#inactive_title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 35px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
#inactive_headers {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
.delete_post_inactive, .status_toggle_invis_class, .status_submit_tags {
	display: none;
}