html {
	height: 98%;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	background-color: #e0e0e0;
	overflow-x: hidden;
	height: inherit;
	margin: 0;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

paper-fab{
	position: fixed;
	z-index: 3;
	bottom:0;
	right: 10px;
	margin: 14px;
}
.mdi {
	font-size: 24px !important;
}
.fr-dropdown-menu {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.zmdi {
	vertical-align: top !important;
	font-size: 28px !important;
	margin-left: 7px !important;
}
.froala-editor .fr-dropdown.fr-color-picker i {
	padding-left: 0px !important;
}
.mdi-format-paint {
	margin-left: 0 !important;
}
/*new edit post */
#form-post-title {
	max-width: 350px;
	margin: auto;
}
#new-post-container {
	padding:15px;
	margin:10px;
	background: #fff;
	width: 800px;
	margin: auto;
	margin-top:35px;
	margin-bottom:12px;
	max-width: 90%;
}
#post_hero_input {
	margin: 14px;
	margin-bottom: 20px;
}

/*froala css changes*/
.froala-box:after {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
/*show post */
.sub {
	font-size: 1rem;
	padding-bottom: 8px;
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}
q{
	quotes: none;
}
figure {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.froala-view pre, pre.fr-tag {
	padding: 16px !important;
	overflow: auto !important;
	font-size: 85% !important;
	line-height: 1.45 !important;
	background: #f7f7f7 !important;
	border-radius: 3px !important;
	font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
	word-wrap: normal !important;
	border: 0 !important;
}
iframe.twitter-tweet {
margin:10px auto !important;
}
.froala-view ol {
	padding-left: 40px !important;
}
.f-video-editor iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.f-video-editor {
	position: relative !important;
	padding-bottom: 56.25% !important;
	padding-top: 25px !important;
	height: 0 !important;
}

/*home page */
.title-author-inner-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	color:#e0e0e0;
	cursor: pointer;
}
.home-title {
	font-size: 2.25em;
	margin-left: 12px;
	margin-top:22px;
	text-decoration: none;
	color: #e0e0e0;
}
.home-author {
	font-size: 14px;
	margin-left: 12px;
}
#middleBar {
	height: 86%;
	margin-top: 56px;
}
#topBar {
	z-index: 3 !important;
}
.grid {
	margin: auto;
	width:1300px;
	max-width: 90%;
}
.grid-item {
	margin-bottom: 12px;
}
.post-overlay {
	transition: all 0.7s ease-in-out;
	height:100%;
	width:100%;
	position: absolute;
	background:linear-gradient(to bottom, rgba(0,0,0,0.68) 0%,rgba(0,0,0,0.68) 40%,rgba(0,0,0,0.68) 41%,rgba(0,0,0,0.22) 100%);
	z-index: 4;
}
.home-pipe { 
	margin-top: 9px;
}
#login_button, #signup_button, .home-pipe, #logout_button {
	color: #212121;
}
.homepage-avatar {
	border-radius: 50%;
	width: 32px;
	height:32px;
}
#usernames {
	color: #607d8b;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
	margin-left: 5px;
}

#about_title, #follow_title {
	font-weight: 300;
	font-size: 24px;
}

#follow_block{
	width:150px;
	margin-left: 50px;
}
#footer_icon {
	width: 15%;
	margin-left: 50px;
}
#posts_pagination {
	margin: 12;
}
.pagination {
	text-align: center;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.next a, .next a, .prev a, .prev a {
	text-decoration: none;
	color: black;
}
.pagination-chevron  {
	margin-top: -4px;
}
#new-post-fab, #posts_pagination, #about {
	display: none;
}



@media (max-width: 600px) {
	.grid {
		margin-top: 32px;
	}
	#middleBar {
		height: 77%;
	}
	#follow_block{
		width:150px;
		margin-left: 0;
	}
	#comment_body iframe {
	 width: 100%;
	}
	.title {
		font-size: 1.75rem;
		width:83%;
		text-align: right;
	}
	#footer_icon {
		display: none;
	}
	#new-post-container {
		margin-top: 83px;
		max-width: 91%;
		margin-bottom: 0;
	}
}

@media (max-width: 600px) and (orientation: landscape) {
	.grid {
		margin-top: 40px;
	}
}

@media (min-width: 601px) and (max-width: 900px) {
	#middleBar {
		margin-top: 0;
	}
	#follow_block{
		width:150px;
		margin-left: 0;
	}
	#footer_icon {
		display: none;
	}
	#new-post-container {
		margin-top: 1vh;
		margin-bottom: 0;
	}
	.title {
		font-size: 2rem;
		width:70%;
		text-align: right;
	}
}

@media (min-width: 901px) and (max-width: 1300px) {
	.title {
		font-size: 2.75rem;
	}
	#footer_icon {
		width: 10%;
		margin-left: 50px;
	}
	.title {
		font-size: 3.25rem;
		width:78%;
		text-align: right;
	}
}

@media (min-width: 901px) and (max-width: 1300px) and (min-height: 501px) {
	#middleBar {
		margin-top: 0;
	}
	.grid {
		margin-top: 0;
	}
}

@media (min-width: 901px) and (max-width: 1300px) and (max-height: 500px) {
	#middleBar {
		margin-top: 0;
	}
}

@media (min-width: 1301px) {
	#middleBar {
		margin-top: 0;
	}
	.title {
		font-size: 3.25rem;
		width:75%;
		text-align: right;
	}
}