#profile_image {
	box-sizing: border-box;
  	background-image: url('default_pic.png');
  	background-size: cover;
    background-repeat: no-repeat;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height:150px;
	transition: all 100ms ease;
}
#container {
	margin:10px;
}
#text {
	height:150px;
	visibility: hidden;
}
#profile_image:hover {
	background: linear-gradient(rgba(118, 255, 3, 0.45), rgba(118, 255, 3, 0.45)), url('default_pic.png');
	background-size: contain;
	transition: 1s;
}
#user_name {
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
    width: 90%;
    font-color: #616161;
    margin: auto;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    transition: all 100ms ease
}
#join_date {
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    width: 90%;
    font-color: #616161;
    margin: auto;
    line-height: 1.3em;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    transition: 0.7s;
}