#profile-avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	transition: all 100ms ease;
}
#avatar-overaly-text {
	height:150px;
	width: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	display: none;
}
#user_name {
	color: #212121;
	margin-top: 20px;
	text-align: center;
}
#join_date {
	font-weight: 300;
	color: #616161;
	margin-top: 20px;
	font-style: italic;
	text-align: center;
}
#avatar_upload_link {
	cursor: pointer;
	text-align: center;
	color: #212121;
}
.pipe {
	text-align: center;
	margin-top: 14px;
}
#edit_user_button {
	margin-top: 18px;
	width:45%;
	color: #607d8b;
}
#submit_signup, #submit_post, #submit-new-comment, #logout_button {
	display: inline-block;
	position: relative;
	border: 0;
	background: transparent;
	text-align: center;
	font: inherit;
	color: #212121;
	text-transform: uppercase;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.admin-edit {
	font-size: 16px;
	margin-top: 25px;
}
.user-container {
	background: #fff;
	width: 250px;
	padding:15px;
	margin:10px;
}
#user_headers {
	font-size: 15px;
}
#username_col {
	text-align: center;
}
.usernames-table {
	text-decoration: none;
	color: #607d8b;
	font-size: 14px;
}
.manage_users_posts_link {
	color: #607d8b;
	margin-top: 14px;
}
.users-admin-toggle {
	margin-top: 11px;
}
#manage_button_1 {
	width:45%;
}